*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color--primary-LimeGreen: hsl(163, 72%, 41%);
  --color--primary-BrightRed: hsl(356, 69%, 56%);
  --color--primary-Facebook: hsl(208, 92%, 53%);
  --color--primary-Twitter: hsl(203, 89%, 53%);
  --color--primary-Instagram-LinearGradient1: hsl(37, 97%, 70%);
  --color--primary-Instagram-LinearGradient2: hsl(329, 70%, 58%);
  --color--primary-YouTube: hsl(348, 97%, 39%);

  --color--toggle-LightTheme: hsl(230, 22%, 74%);
  --color--toggle-DarkTheme-LinearGradient1: hsl(210, 78%, 56%);
  --color--toggle-DarkTheme-LinearGradient2: hsl(146, 68%, 55%);

  --tbg-pattern-color: hsl(225, 100%, 98%);
  --text-color: #404040;
  --text-color-VDB: hsl(230, 17%, 14%);
  --bg-color: #fff;
  --card-bg-color: hsl(227, 47%, 96%);
  --card-bg-color-active: hsl(226, 37%, 88%);
}

[data-theme="dark"] {
  --tbg-pattern-color: hsl(232, 19%, 15%);
  --text-color-VDB: #fff;
  --text-color: hsl(228, 34%, 66%);
  --bg-color-VDB: hsl(230, 17%, 14%);
  --bg-color: hsl(230, 17%, 14%);
  --card-bg-color: hsl(228, 28%, 20%);
  --card-bg-color-active: hsl(227, 29%, 32%);
}

body {
  line-height: 1.6;
  color: var(--text-color);
  min-height: 100vh;
  background: var(--bg-color);
  background-repeat: no-repeat;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: auto;
}

.background {
  background-color: var(--tbg-pattern-color);
  margin: auto;
  width: 100%;
  height: 260px;
  border-radius: 0 0 20px 20px;
  z-index: -1;
  position: absolute;
}

.smDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  width: 95%;
  margin: auto;
}

.smDashboard__mobile {
  display: none;
}

.smDashboard__content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin-top: 30px;
}

.smDashboard--title h1 {
  margin: 0;
  padding: 0;
  color: var(--text-color-VDB);
}

.smDashboard--title p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.followers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
}

.followers__card {
  height: 220px;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.followers__card hr {
  margin: 0;
  height: 4px;
  border: none;
  border-radius: 5px 5px 0 0;
}

.facebook hr {
  background: var(--color--primary-Facebook);
}

.twitter hr {
  background: var(--color--primary-Twitter);
}

.instagram hr {
  background: linear-gradient(60deg, var(--color--primary-Instagram-LinearGradient1), var(--color--primary-Instagram-LinearGradient2));
}

.youtube hr {
  background: var(--color--primary-YouTube);
}

.followers--name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 10px 0;
}

.followers__card h2 {
  color: var(--text-color-VDB);
  text-align: center;
  font-size: 3.3rem;
  margin: 0 0 -10px 0;
}

.followers__card p {
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
}

.followers__card h5 {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.followers--name p {
  font-weight: 700;
  padding-left: 8px;
}

.followers--today {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.up {
  color: var(--color--primary-LimeGreen);
  font-weight: 700;
  font-size: 0.75rem;
}

.down {
  color: var(--color--primary-BrightRed);
  font-weight: 700;
  font-size: 0.75rem;
}

.overview__title {
  width: 95%;
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.overview__card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  padding: 25px;
  height: 120px;
  background-color: var(--card-bg-color);
  border-radius: 5px;
}

.percent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.overview__card p {
  margin: 0;
  font-weight: 700;
}

.overview__card h4 {
  color: var(--text-color-VDB);
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: -0.3em;
}

.overview__card img {
  display: block;
  margin-left: auto;
}

/*-------------swith----------*/

.theme-switch {
  display: inline-block;
  position: relative;
  height: 28px;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.theme-switch-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  width: 160px;
}

.theme-switch-wrapper p {
  margin-right: 10px;
  font-weight: 700;
  color: var(--color--toggle-LightTheme);
}

.slider {
  background: var(--color--toggle-LightTheme);
  filter: alpha(opacity=50);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--tbg-pattern-color);
  bottom: 3px;
  content: "";
  height: 22px;
  right: 3px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(60deg, var(--color--toggle-DarkTheme-LinearGradient1), var(--color--toggle-DarkTheme-LinearGradient2));
}

input:checked + .slider:before {
  transform: translateX(-32px);
}

.slider:is(:hover, :focus) {
  background: linear-gradient(60deg, var(--color--toggle-DarkTheme-LinearGradient1), var(--color--toggle-DarkTheme-LinearGradient2));
}

.followers__card:hover {
  background-color: var(--card-bg-color-active);
  cursor: pointer;
}

.overview__card:hover {
  background-color: var(--card-bg-color-active);
  cursor: pointer;
}

/*-----------------------------*/

/*-------------footer----------*/

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*-----------------------------*/

/*-------------media-----------*/

@media screen and (max-width: 545px) {
  .background {
    display: none;
  }

  .smDashboard__content {
    display: flex;
    justify-content: center;
    max-width: 375px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
  }

  .smDashboard--title h1 {
    font-size: 1.5rem;
  }

  .smDashboard__content hr {
    display: block;
    margin-top: 20px;
    border: 0;
    height: 1.8px;
    background-color: var(--text-color);
    width: 100%;
  }

  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 320px;
  }

  .theme-switch-wrapper p {
    margin-right: 10px;
    font-weight: 700;
    color: var(--text-color);
  }

  .followers {
    display: grid;
    grid-template-columns: 320px;
    margin-top: 20px;
  }

  .overview {
    display: grid;
    grid-template-columns: 320px;
  }

  .overview__title {
    width: 320px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
