*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color--primary-LimeGreen: hls(163, 72%, 41%);
  --color--primary-BrightRed: hsl(356, 69%, 56%);
  --color--primary-Facebook: hsl(208, 92%, 53%);
  --color--primary-Twitter: hsl(203, 89%, 53%);
  --color--primary-Instagram: linear-gradient(180deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --color--primary-YouTube: hsl(348, 97%, 39%);

  --color--toggle-LightTheme: hsl(230, 22%, 74%);
  --color--toggle-DarkTheme-LinearGradient1: hsl(210, 78%, 56%);
  --color--toggle-DarkTheme-LinearGradient2: hsl(146, 68%, 55%);

  --tbg-pattern-color: hsl(225, 100%, 98%);
  --text-color: hsl(228, 12%, 44%);
  --text-color-VDB: hsl(230, 17%, 14%);
  --bg-color: #fff;
  --card-bg-color: hsl(227, 47%, 96%);
  --card-bg-color-active: hsl(226, 37%, 88%);
}

:root .dark-theme {
  --tbg-pattern-color: hsl(232, 19%, 15%);
  --text-color: hsl(228, 34%, 66%);
  --text-color: #fff;
  --bg-color-VDB: hsl(230, 17%, 14%);
  --bg-color: linear-gradient(180deg, #191926 30%, #10101a 0);
  --card-bg-color: hsl(228, 28%, 20%);
  --card-bg-color-active: hsl(227, 29%, 32%);
}

body {
  line-height: 1.6;
  color: var(--text-color);
  min-height: 100vh;
  background: var(--bg-color);
  background-repeat: no-repeat;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: auto;
}

.background {
  background-color: var(--tbg-pattern-color);
  margin: auto;
  width: 100%;
  height: 240px;
  border-radius: 0 0 20px 20px;
  z-index: -1;
  position: absolute;
}

.smDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  width: 95%;
  margin: auto;
}

.smDashboard--content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  height: 80px;
}

.followers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
}

.followers--card {
  height: 200px;
  background-color: var(--card-bg-color);
  border-radius: 5px;
}

.overview--title {
  width: 95%;
  max-width: 1100px;
  margin: auto;
}

.overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.overview--card {
  height: 100px;
  background-color: var(--card-bg-color);
  border-radius: 5px;
}

/*-------------swith----------*/

.theme-switch {
  display: inline-block;
  position: relative;
  height: 28px;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.theme-switch-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  width: 160px;
}

.theme-switch-wrapper p {
  margin-right: 10px;
}

.slider {
  background: var(--color--toggle-LightTheme);
  filter: alpha(opacity=50);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 22px;
  right: 3px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  /*----*/
  background: linear-gradient(60deg, var(--color--toggle-DarkTheme-LinearGradient1), var(--color--toggle-DarkTheme-LinearGradient2));
}

input:checked + .slider:before {
  transform: translateX(-32px);
}

/*-----------------------------*/

/*-------------footer----------*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*-----------------------------*/

@media screen and (max-width: 545px) {
  .background {
    display: none;
  }

  .smDashboard--content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 375px;
    height: 80px;
    margin: auto;
  }

  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 320px;
  }
  .followers {
    display: grid;
    grid-template-columns: 320px;
    margin-top: 160px;
  }

  .overview {
    display: grid;
    grid-template-columns: 320px;
  }

  .overview--title {
    width: 320px;
    margin: auto;
  }
}
